# pkg update
# pkg install build-essential clang make pkg-config binutils git wget python3
# pkg install python-numpy ta-lib
wheel
Cython
pandas
python-dateutil
datetime
tapy
pandas-ta
telethon
requests
pathlib
asyncio
